@import-normalize; /* bring in normalize.css styles */

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.test_flex {
  display: flex;
  align-items: center;
  margin: 15px 0 0 15px;
}

.test1 {
  width: 150px;
  height: 150px;
  background: #d17d48;
}

.test2 {
  width: 100px;
  height: 100px;
  background: #309419;
}

.test3 {
  width: 50px;
  height: 50px;
  background: #3038a2;
}

.test_q {
  border-radius: 10px;
  margin-right: 32px;

  &:last-child {
    margin-right: 0;
  }
}
